/****************************************
 * general purpose css-only components  *
 ****************************************/

/**
// Chart set up
*/
/*.chart {*/
    /*border-left: 1px solid black;*/
    /*border-bottom: 1px solid black;*/
    /*margin: 60px auto;*/
    /*position: relative;*/
    /*list-style: none;*/
    /*padding: 0;*/
/*}*/
/*.y {*/
    /*position: absolute;*/
    /*-webkit-transform: rotate(-90deg);*/
    /*transform: rotate(-90deg);*/
    /*-webkit-transform-origin: bottom left;*/
    /*transform-origin: bottom left;*/
    /*bottom: 0;*/
    /*padding: 5px;*/
/*}*/
/*.x {*/
    /*position: absolute;*/
    /*top: 100%;*/
    /*width: 100%;*/
    /*padding: 5px;*/
/*}*/

/**
Bar chart
 */
/*.bar {*/
    /*background: blue;*/
    /*position: absolute;*/
    /*bottom: 0;*/
/*}*/
/*.bar:nth-of-type(even) {*/
    /*background: red;*/
/*}*/
/*.bar span {*/
    /*position: absolute;*/
    /*bottom: -10px;*/
    /*left: 50%;*/
    /*-webkit-transform: rotate(-90deg) translateY(-50%);*/
    /*transform: rotate(-90deg) translateY(-50%);*/
    /*-webkit-transform-origin: left top;*/
    /*transform-origin: left top;*/
    /*font-weight: bold;*/
    /*opacity: 0;*/
    /*transition: 0.3s;*/
    /*white-space: nowrap;*/
/*}*/
/*.bar:hover span {*/
    /*opacity: 1;*/
/*}*/


.fm-panel {
  background-color: #fff;

  /*border: 1px solid black; */
  border: 0.5px solid grey;
  box-sizing: border-box;

  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;

  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;

  margin-bottom: 20px;
  padding: 10px 10px 20px 10px;

  overflow: hidden;
}

.fm-panel > h4 {
  /*background-color: #E5E5E5; */
  background-color: #d0ecfb;
  color: #d32323;
  margin: -10px -10px 10px -10px;
  padding: 10px 10px 10px 10px;
}

.fm-panel > h5 {
  color: #0073bb;
}

.fm-right {
  text-align: right;
}



/****************************************
 * angular components                   *
 ****************************************/

.fm-rating {
  color: #a9a9a9;
  margin: 0;
  padding: 0;

}

ul.fm-rating {
  display: inline-block;
}

.fm-rating-pointer {
  cursor: pointer;
}

.fm-rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

.fm-rating .fm-selected {

  color: #d32323;
}

.fm-rating .fm-hover {
  text-shadow: white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  white 0 0  2px,
  blue  0 0 10px;
}

fm-rating a {
  visibility: hidden;
  padding-left: 7px;
}

fm-rating:hover a {
  visibility: visible;
}


.fm-deliver-to {
  display: block;
  width: 450px;
  vertical-align: baseline!important;
}


input.ng-invalid.ng-dirty {
  border-color: #E9322D;
  -webkit-box-shadow: 0 0 6px #F8B9B7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #F8B9B7;
}




/****************************************
 * route specific css                   *
 ****************************************/

/* navbar */

.logo {
  width:90px;
  height:40px
}

.m-container {
  min-width: 1020px;
  margin:0 auto;
}

.homepage1 {
    padding-top: 30px;
    height: 300px;
    background-color: #333;
    background-size: cover;
    background-position: 40%;
}

.homepage2 {
    padding-top: 30px;
    height: 250px;
    background-color: #333;
    background-size: cover;
    background-position: 30%;
}


/* customer */

.fm-customer-bkg {
  /*background-image: url(../img/customer_bkg.jpg); */
  opacity: 0.4;
  height: 705px;
}


/* restaurant list */

a {
   /* color: #0073bb; */
    color: #00008B;
    text-decoration: none;
}

.header {
    padding-top: 30px;
}
.header h2 {
    word-wrap: break-word!important;
    word-break: break-word!important;
    overflow-wrap: break-word!important;
    font-weight: 700;
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 1.28571em;
    color: #d32323;
    vertical-align: baseline!important;
}
.u-text-centered {
    text-align: center!important;
}

.fm-restaurant-list {
  /*min-height: 646px !important;*/
}

.fm-restaurant-list table {
  margin: -10px -20px -20px -10px;
  width: 700px;
}

.fm-restaurant-list th:first-child {
  width: 500px;
}

.fm-restaurant-list th {
  width: 100px;
}

.fm-restaurant-list img {
  margin-right: 10px;
  width: 180px;
  height: 180px;
}


/* menu */

.fm-restaurant  {
  margin-bottom: 20px;
}

.fm-restaurant h3 {
  margin-top: 0;
}

.fm-restaurant img {
  width: 150px;
  height: 150px;
}

.fm-restaurant .fm-rating {
  display: block;
}

.fm-menu-list li {
  list-style-type: none;
}

.fm-menu-list li span {
  padding-right: 20px;
}

.fm-menu-list a {
  color: inherit;
}

.fm-menu-list a:hover {
  text-decoration: none;
  color: inherit;
}

.fm-menu-list .icon-plus-sign {
  visibility: hidden;
}

.fm-menu-list li:hover .icon-plus-sign {
  visibility: visible;
}

.fm-menu-list li:hover {
  color: black;
}

.fm-menu-list ul li {
  text-align: center;
}

.fm-cart li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fm-cart .icon-remove-sign {
  visibility: hidden;
}

.fm-cart li:hover .icon-remove-sign {
  visibility: visible;
}

.fm-cart form {
  padding-left: 2px;
}

.fm-cart p {
  padding-left: 20px;
  padding-top: 5px;
}

input.ng-invalid {
  border: 1px solid red;
}

.main-table {
    /*width: 100%;*/
}

.header-row {
    display: flex;
}

.header-row .item {
    display: inline-block;
    width: 38%;
    padding: 0;
    margin: 0;
}

.header-row .item h2 {
    font-size: 20px;
    padding: 0 5px;
}

.header-row .item-f {
    display: inline-block;
    width: 30%;
    padding: 0;
    margin: 0;
}

.header-row .item-f h2 {
    font-size: 20px;
    padding: 0 5px;
}

.header-row .item-s {
    display: inline-block;
    width: 24%;
    padding: 0;
    margin: 0;
}

.header-row .item-s h2 {
    font-size: 20px;
    padding: 0 5px;
}

.data-row {
    display: flex;
    padding: 10px 0px;
}

.data-row .data-item {
    width: 38%;
}


.data-row .data-item .item{
    padding: 0 5px;

}

b {
    color: #0073bb;
}
.data-row .data-item-f {
    width: 28%;
}


.data-row .data-item-f .item{
    padding: 0 5px;
}

.data-row .data-item-s {
    width: 24%;
}


.data-row .data-item-s .item{
    padding: 0 5px;
}
